[%# Written to the Glory of God for Valeo Vision Systems by                   -%]
[%# Gervase Markham <gerv@gerv.net>.                                          -%]
From: [% Param('mailfrom') %]
To: [% to %]
Subject: [% subject %]

[%+ body +%]
