[%# -*- Mode: perl; indent-tabs-mode: nil -*-                               %]
[%#                                                                         %]
[%# The contents of this file are subject to the Mozilla Public             %]
[%# License Version 1.1 (the "License"); you may not use this file          %]
[%# except in compliance with the License. You may obtain a copy of         %]
[%# the License at http://www.mozilla.org/MPL/                              %]
[%#                                                                         %]
[%# Software distributed under the License is distributed on an "AS         %]
[%# IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or              %]
[%# implied. See the License for the specific language governing            %]
[%# rights and limitations under the License.                               %]
[%#                                                                         %]
[%# The Original Code is the Sync Bugzilla Extension.                       %]
[%#                                                                         %]
[%# The Initial Developer of the Original Code is Gervase Markham.          %]
[%# Portions created by the Initial Developer are Copyright (C) 2011 the    %]
[%# Initial Developer. All Rights Reserved.                                 %]
[%#                                                                         %]
[%# Contributor(s):                                                         %]
[%#   Written to the Glory of God by Gervase Markham <gerv@gerv.net>.       %]

[% warning_message = BLOCK %]
  [% IF    error == '' %]
  
Coding error: no warning tag specified.

  [% ELSIF error == 'bad_bug_id' %]
  
Remote system sent external ID '[% ext_id %]' and bug ID '[% bug_id %]' but
this bug is not marked as being synced with that external ID. So, a new bug 
has been created for this external ID.

  [% ELSIF error == 'bug_not_updated' %]

SendUpdate executed for bug [% bug.id %] (sync mode '[% bug.cf_sync_mode %]')
but database not yet updated. Deferring.

Bug timestamp in DB: [% bug.delta_ts %]
Timestamp of change: [% timestamp %]

  [% ELSE %]
    [%# Try to find hooked error messages %]
    [% warning_message = Hook.process("warnings") %]

    [% IF not warning_message %]
      No warning message specified for warning tag [% error %].
      Please send email to [% Param("maintainer") %] describing the steps taken
      to obtain this message.
    [% ELSE %]
      [% warning_message FILTER none %]
    [% END %]
  [% END %]
[% END %]

[% warning_message FILTER trim %]
