[%# -*- Mode: perl; indent-tabs-mode: nil -*-                              -%]
[%#                                                                        -%]
[%# The contents of this file are subject to the Mozilla Public            -%]
[%# License Version 1.1 (the "License"); you may not use this file         -%]
[%# except in compliance with the License. You may obtain a copy of        -%]
[%# the License at http://www.mozilla.org/MPL/                             -%]
[%#                                                                        -%]
[%# Software distributed under the License is distributed on an "AS        -%]
[%# IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or             -%]
[%# implied. See the License for the specific language governing           -%]
[%# rights and limitations under the License.                              -%]
[%#                                                                        -%]
[%# The Original Code is the Sync Bugzilla Extension.                      -%]
[%#                                                                        -%]
[%# The Initial Developer of the Original Code is Gervase Markham.         -%]
[%# Portions created by the Initial Developer are Copyright (C) 2011 the   -%]
[%# Initial Developer. All Rights Reserved.                                -%]
[%#                                                                        -%]
[%# Contributor(s):                                                        -%]
[%#   Written to the Glory of God by Gervase Markham <gerv@gerv.net>.      -%]

[% title = "Sync"
   desc = "Settings for Sync Extension"
%]

[% param_descs = {
    sync_enabled => "Sync master switch. Don't turn it on until you've installed a Sync plugin and configured it. If you enable this and it disables itself, read the error email and check that Bugzilla can communicate with all remote systems."
    
    sync_error_email  => "Comma-separated list of email addresses to inform of sync errors. Must be valid Bugzilla accounts."
    
    sync_debug => "Enable various debugging and testing features of the Sync extension."
} %]
